@page "/"
@using MantaRays_Weather.Enums;
@inject IConfiguration _config
@inject IHttpClientFactory _clientFactory
@inject IForecastAPIService _forecastService
@using MantaRays_Weather.Components
    
@if (forecast is null)
{
    <StartPage 
        ErrorString="@errorString"
        IsLoading="@isLoading"

        OnZipCodeEntered="@SetZipCodeHandler">
    </StartPage>
}
else
{
    <InputHeader 
        ErrorString="@errorString"
        IsLoading="@isLoading"
        ZipCode ="@zipCode"
        OnZipCodeEntered="@SetZipCodeHandler">
    </InputHeader>

    <!--Place Current Forecast Here once we have the graphics-->
    <div class="waveTabs">
        <button @onclick="() => SetSelectedTab(Tabs.Daily)"
                class="tab-button @(SelectedTab == Tabs.Daily ? "active" : string.Empty)">
            Daily
        </button>
        <button @onclick="() => SetSelectedTab(Tabs.Hourly)"
                class="tab-button @(SelectedTab == Tabs.Hourly ? "active" : string.Empty)">
            Hourly
        </button>
    </div>
    <div class="forecastWrapper">
        
        @if (SelectedTab == Tabs.Hourly)
        {
            <Hourly Forecast="hourlyForecast" ErrorString="errorString" />
        }
        else if (SelectedTab == Tabs.Daily)
        {
            <Daily Forecast="forecast" ErrorString="errorString" City="@city"/>
        }
    </div>
}


@code {
    private DailyForecast? forecast; 
    private HourlyForecast? hourlyForecast;
    private enum Tabs { Today, Hourly, Daily };
    private Tabs SelectedTab { get; set; } = Tabs.Daily;

    private int? zipCode = null;
    private string city = "";
    private string errorString = "";  
    private bool isLoading = false;

    private bool startAnimation = false;

    private async Task FetchWeatherForecast(string zip)
    {
        if (zip.Length != 5)
        {
            errorString = "Please enter a valid 5 digit zip code.";
            return;
        }
        isLoading = true;
        var dayResult = await _forecastService.GetForecastByZip<DailyForecast?>(zip, ForecastType.Daily);

        if (!dayResult.IsSuccess || dayResult.Data == null)
        {
            errorString = dayResult.ErrorMessage ?? "Failed to fetch Weather Forecast.";
            return;
        }
        city = string.IsNullOrEmpty(dayResult.City) ? "" : dayResult.City.Split(',')[0].Trim();

        forecast = dayResult.Data;

        var hourResult = await _forecastService.GetForecastByZip<HourlyForecast?>(zip, ForecastType.Hourly);

        if (!hourResult.IsSuccess || hourResult.Data == null)
        {
            errorString = hourResult.ErrorMessage ?? "Failed to fetch Weather Forecast.";
            return;
        }

        hourlyForecast = hourResult.Data;
        isLoading = false;

        errorString = "";
    }

    private void Clear()
    {
        forecast = null;
        errorString = "";
    }

    private void SetSelectedTab(Tabs tab)
    {
        SelectedTab = tab;
    }

    private string GetDateSuffix(int day)
    {
        switch (day)
        {
            case 1:
            case 21:
            case 31:
                return "st";
            case 2:
            case 22:
                return "nd";
            case 3:
            case 23:
                return "rd";
            default:
                return "th";
        }
    }

    public async Task SetZipCodeHandler(string zip)
    {
        await FetchWeatherForecast(zip);
    } 


}